<div class="sidebar">
    <div class="navigation">
      <nav>
        <ul>
          <li><a href="#home">home</a></li>
          <li><a href="#services">services</a></li>
          <li><a href="#works">works</a></li>
          <li><a href="#skills">skills + tools</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  
  <div class="navigation-trigger">
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
  </div>