:root {
    --background: rgb(255, 255, 248);
    --color: #2F3D4C;
}

body {
    background-color: var(--background);
    color: var(--color);
}

#dark-mode {
    position: fixed;
    z-index: 3;
    top: 1.6rem;
    right: 1.6rem;
    font-size: 2rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); rotate: (20deg);
}
